.wrapper {
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 760px);
    min-height: 100px;
    padding-top: 8px;
    background: rgb(37, 37, 37);
    border-radius: 8px;
    color: var(--default-text-color);
}
